<!DOCTYPE html>
<html>
<head>
    <title>Face Attendance System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Face Attendance System</h1>
    <img id="video_feed" src="{{ url_for('video_feed') }}">
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            setInterval(function() {-->
<!--                $('#video_feed').attr('src', "{{ url_for('video_feed') }}?" + new Date().getTime());-->
<!--            }, 100);-->
<!--        });-->
<!--    </script>-->
</body>
</html>
